@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.slider-container h2 {
  position: relative;
  color: hsl(0, 0%, 68%);
  /* font-weight: bold; */
  font-family:  'Arial', sans-serif;
  letter-spacing: 6px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 3.5s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 480px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}